.vs/
/bin/
/obj/
/Debug/
/Release/
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.vcproj.*
*.vcxproj.*
*.vcxproj
*.vcxproj.filters
*.user
*.vcxproj.user
*.sln.docstates
*.sln.ide
*.sln.ide-shm
*.sln.ide-wal
*.config